<%= form_for(@duration) do |f| %>
  <% if @duration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duration.errors.count, "error") %> prohibited this duration from being saved:</h2>

      <ul>
      <% @duration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unique_id %><br>
    <%= f.text_field :unique_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :account_name %><br>
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.datetime_select :started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br>
    <%= f.datetime_select :ended_at %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
