<p id="notice"><%= notice %></p>

<h1>Listing Durations</h1>

<table>
  <thead>
    <tr>
      <th>Unique</th>
      <th>Category</th>
      <th>Account name</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @durations.each do |duration| %>
      <tr>
        <td><%= duration.unique_id %></td>
        <td><%= duration.category %></td>
        <td><%= duration.account_name %></td>
        <td><%= duration.started_at %></td>
        <td><%= duration.ended_at %></td>
        <td><%= duration.minutes %></td>
        <td><%= link_to 'Show', duration %></td>
        <td><%= link_to 'Edit', edit_duration_path(duration) %></td>
        <td><%= link_to 'Destroy', duration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duration', new_duration_path %>
